// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
          layout "us"
          variant "intl"
        }
  
          numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
 



        accel-speed 3.191891195797325e-16

        accel-profile "flat"
    }
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
